@model SchoolManagement.Web.Models.CourseAndDisciplinesViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QNQ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QNQ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QEQ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QEQ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile)
        </dd>
    </dl>
</div>
<h4>Disciplinas</h4>
<table class="table">
    <tbody>
        <tr>
            <td>
                <h5>Designação</h5>
            </td>
            <td>
                <h5>Objetivos</h5>
            </td>
            <td>
                <h5>Carga Horária</h5>
            </td>
            <td>
                <h5>Créditos</h5>
            </td>
            <td>
                <h5>Conteúdos</h5>
            </td>
            <td>
                <h5>Código</h5>
            </td>
        </tr> 
        @for (var i = 0; i < Model.Disciplines.Count(); i++)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Disciplines[i].Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Disciplines[i].Objectiv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Disciplines[i].Workload)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Disciplines[i].Credit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Disciplines[i].Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Disciplines[i].Code)
        </td>
        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Administrativo"))
        {
            <td>
                @{ int disciplineId = Convert.ToInt32(Model.Disciplines[i].Id);}
                <form asp-action="Details">
                    <input asp-for="Id" class="hidden" />
                    <input asp-for="@disciplineId" class="hidden" />
                    <input type="submit" value="Apagar" class="btn btn-danger" />
                </form>
            </td>
        }
        <td>
            @{ int id = Convert.ToInt32(Model.Disciplines[i].Id);}
            <a asp-controller="Disciplines" asp-action="Details" asp-route-id="@id" class="btn btn-info">Detalhes</a>
        </td>
    </tr>
        }
    </tbody>
</table>
<div>
    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Administrativo"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    }
    <a asp-action="Index" class="btn btn-success">Regressar</a>
    <a asp-action="GeneratePDFCourse" asp-route-id="@Model.Id" class="btn btn-default">PDF</a>
</div>