@model SchoolManagement.Web.Data.Entities.Class

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Tem a certeza que quer eliminar este registo?</h3>
<div>
    <h4>Turma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameClass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeginSchedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeginSchedule)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndSchedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndSchedule)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-success">Voltar à lista</a>
    </form>
</div>
