@model SchoolManagement.Web.Data.Entities.Class

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameClass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeginSchedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeginSchedule)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndSchedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndSchedule)
        </dd>
        <dt>
            Curso
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.QNQ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.QNQ)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-success">Regressar</a>
</div>
