@model SchoolManagement.Web.Data.Entities.Discipline

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Tem a certeza que quer eliminar este registo?</h3>
<div>
    <h4>Disciplina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workload)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workload)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Objectiv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Objectiv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-success">Voltar à lista</a>
    </form>
</div>
